<mat-toolbar color="primary">
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html">
        <b>
          <img src="assets/images/house.png" alt="homepage" class="light-logo">
        </b>
        <span fxShow="false" fxShow.gt-xs>
          <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
        </span> 
    </a>
  </div>
    <!--<span>Primary Toolbar</span>
    <span fxFlex></span>
    <button mat-button href="#" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button href="#" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>-->
</mat-toolbar>