<table mat-table [dataSource]="dataSource" class="w-100">
    <ng-container matColumnDef="billNumber">
        <th mat-header-cell *matHeaderCellDef> No. Factura </th>
        <td mat-cell *matCellDef="let element"> {{element.billNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef> Nombre Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="billTotal">
        <th mat-header-cell *matHeaderCellDef> Total sin IVA </th>
        <td mat-cell *matCellDef="let element"> {{element.billTotal | currency: "COP"}} </td>
    </ng-container>
    <ng-container matColumnDef="billTotalIva">
        <th mat-header-cell *matHeaderCellDef> Total con IVA </th>
        <td mat-cell *matCellDef="let element"> {{element.billTotalIva | currency: "COP"}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="reviewBill(element.id)">Ver</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator *ngIf="showPagination" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

